<div class="container">
    <form (ngSubmit)="submitAllSelections()">
        <table class="album-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Album Name</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of albums; let i = index">
                    <td>{{ i + 1 }}</td>                    
                    <td>
                        <img [src]="album.cover_image_url" alt="{{ album.name }}" class="album-image" />
                    </td>
                    <td>{{ album.name }}</td>
                    <td>
                        <label>{{ album.status }}</label>
                    </td>
                    <td>
                        <label>
                            <input 
                                type="radio" 
                                name="status-{{ i }}" 
                                (change)="onChange(album.id , 'approve')"
                                [disabled]="album.status === 'APPROVED'" />
                            Approve
                        </label>
                        <label>
                            <input 
                                type="radio" 
                                name="status-{{ i }}" 
                                (change)="onChange(album.id , 'reject')"
                                [disabled]="album.status === 'REJECTED'" />
                            Reject
                        </label>
                    </td>
                    <td>
                        <button type="button" (click)="viewDetails(album.id)">Xem chi tiết</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>

<!-- Modal -->
<div *ngIf="selectedAlbum" class="modal">
    <div class="modal-content">
      <h2>{{ selectedAlbum.name }}</h2>
      <div class="album-image-container">
        <img [src]="selectedAlbum.cover_image_url" alt="{{ selectedAlbum.name }}" class="album-image" />
      </div>
      <p><strong>Released Date:</strong> {{ selectedAlbum.release_date }}</p>
      <p><strong>Created Date:</strong> {{ selectedAlbum.create_at }}</p>
      <p><strong>Status:</strong> {{ selectedAlbum.status }}</p>
      <!-- Genre List -->
      <p><strong>Genres:</strong></p>
      <ul>
        <li *ngFor="let genre of selectedAlbum.genre">{{ genre.name }}</li>
      </ul>
      
      <p><strong>Description:</strong> {{ selectedAlbum.description }}</p>
      <button (click)="closeModal()" id="close">Close</button>
    </div>
    
  </div>
  