<div class="container">
    <form (ngSubmit)="submitAllSelections()">
        <table class="album-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Album Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of albums; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ album.name }}</td>
                    <td>
                        <label>{{album.status}}</label>
                    </td>
                    <td>
                        <label>
                            <input 
                                type="radio" 
                                name="status-{{ i }}" 
                                (change)="onChange(album.id , 'approve')"
                                [disabled]="album.status === 'APPROVED'"  />
                            Approve
                        </label>
                        <label>
                            <input 
                                type="radio" 
                                name="status-{{ i }}" 
                                (change)="onChange(album.id , 'reject')"
                                [disabled]="album.status === 'REJECTED'"  />
                            Reject
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
