<body>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div *ngIf="!isLoading" class="header-content" [ngStyle]="{'background-image': 'url(' + albumImage + ')'}">
    <div class="header-overlay"></div>
    <div class="artist-details">
      <div class="verified-artist">
        <i class="fas fa-check-circle"></i> Verified Artist
      </div>
      <h1 class="artist-name">{{ artistName }}</h1>

      <div class="action-buttons">
        <button class="play-button" (click)="playAlbum()">
          <i class="fas fa-play"></i>
        </button>
        <button class="more-button" (click)="toggleOptionsModal()">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal for selecting an action -->
  <div class="action-selection-modal" *ngIf="showOptionsModal">
    <div class="modal-content">
        <span class="close" (click)="toggleOptionsModal()">&times;</span>
        <h2>Select Action</h2>
        <div class="action-buttons">
            <button (click)="toggleModal(); fetchArtistSongs()" class="action-button">Add Songs</button>
        </div>
        <div class="action-buttons">
            <button (click)="toggleEditModal(); fetchSongs()" class="action-button">Edit Album</button>
        </div>
    </div>
  </div>

  <!-- Modal for adding songs -->
  <div class="add-songs-modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>Select Songs to Add to Album</h2>
      
      <!-- Input for search -->
      <input type="text" [(ngModel)]="searchTermForAdd" (input)="filterSongsForAdd()" placeholder="Search songs..." />

      <div *ngFor="let song of filteredSongsForAdd">
        <label>
          <input type="checkbox" [checked]="selectedSongs.includes(song.id)" (change)="toggleSongSelection(song.id)">
          {{ song.name }} 
        </label>
      </div>
      <button (click)="addSongsToAlbum()" class="add-songs-button">Add Songs</button>
    </div>
  </div>

  <!-- Modal for editing album -->
  <div class="edit-album-modal" *ngIf="showEditModal">
    <div class="modal-content">
      <span class="close" (click)="toggleEditModal()">&times;</span>
      <h2>Edit Album</h2>
      
      <label>
        Album Name:
        <input type="text" [(ngModel)]="albumName">
      </label>
      
      <label>
        Album Description:
        <textarea [(ngModel)]="albumDescription"></textarea>
      </label>
      
      <h3>Select Songs to Remove from Album</h3>
      
      <!-- Input for search -->
      <input type="text" [(ngModel)]="searchTermForEdit" (input)="filterSongsForEdit()" placeholder="Search songs..." />

      <div *ngFor="let song of filteredSongsForEdit">
        <label>
          <input type="checkbox" [checked]="listDelete.includes(song.id)" (change)="toggleDeleteSong(song.id)">
          {{ song.name }} 
        </label>
      </div>
      
      <button (click)="updateAlbum()" class="update-album-button">Update Album</button>
    </div>
  </div>

  <div *ngIf="!isLoading" class="content">
    <button class="create-song-button" routerLink="/afterlogin/artistpage/albums/new">
      Create New Album
    </button>
    <div class="popular">
      <h2>Song List in Album</h2>
      <table *ngIf="songs.length > 0">
        <tbody>
          <tr *ngFor="let song of songs; let i = index" (click)="playSelectedSong(song)">
            <td class="song-number" [attr.data-number]="i + 1"></td>
            <td>
              <img [src]="song.public_image_id" />
            </td>
            <td class="song-title">{{ song.name }}</td>
            <td>{{ song.duration }}</td>
            <td>{{ song.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>