<body>
<div class="header-content" [ngStyle]="{'background-image': 'url(' + albumImage + ')'}">
  <div class="overlay"></div>
  <div class="artist-info">
      <div class="verified">
          <i class="fas fa-check-circle"></i> Nghệ sĩ được xác minh
      </div>
      <h1>{{ artistName }}</h1>
      <p>1.616.849 người nghe album</p>
      <div class="buttons">
          <button class="play-button" (click)="playAlbum()">
              <i class="fas fa-play"></i>
          </button>
          <button class="more-button" (click)="toggleModal()">
              <i class="fas fa-ellipsis-h"></i>
          </button>
      </div>
  </div>
</div>
<!-- Modal để thêm bài hát -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <span class="close" (click)="toggleModal()">&times;</span>
        <h2>Chọn bài hát để thêm vào album</h2>
        <div *ngFor="let song of artistSongs">
            <label>
                <input type="checkbox" [value]="song.id" (change)="toggleSongSelection(song.id)">
                {{ song.name }} ({{ song.status }}) <!-- Hiển thị trạng thái bài hát -->
            </label>
        </div>
        <button (click)="addSongsToAlbum()" class="add-songs-button">Thêm bài hát</button>
    </div>
</div>
<div class="content">
  <button class="create-song-button" routerLink="/afterlogin/artistpage/albums/new">
    Tạo album mới
  </button>
  <div class="popular">
    <h2>Danh sách bài hát trong album</h2>
    <table *ngIf="songs.length > 0"> 
      <tbody> 
        <tr *ngFor="let song of songs; let i = index" (click)="playSelectedSong(song.secure_url)"> 
          <td class="song-number" [attr.data-number]="i + 1"></td> 
          <td> 
            <img [src]="song.public_image_id" /> 
          </td> 
          <td class="song-title">{{ song.name }}</td> 
          <td>{{ song.duration }}</td> 
          <td>{{ song.status }}</td> 
        </tr> 
      </tbody> 
    </table>
  </div>
</div>
<app-sidebarsection></app-sidebarsection>
</body>
