body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
}

.main-content {
    margin-left: 300px;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}

.section {
    margin-bottom: 1.5rem;
}

.section h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card {
    background-color: #1f2937;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.menu-item:last-child {
    margin-bottom: 0;
}

.item-content {
    display: flex;
    align-items: center;
}

.item-content i {
    color: #9ca3af;
    margin-right: 1rem;
}

.menu-item i.fa-chevron-right {
    color: #9ca3af;
}

span {
    cursor: pointer;
}

.footer {
    height: 10rem;
    background-color: #121212;
}

/* Icon styles */
.fas {
    font-size: 1.2rem;
}

/* Hover effects */
.menu-item:hover {
    background-color: #374151;
    border-radius: 0.25rem;
}

.menu-item:hover span {
    color: #ffffff;
}

.menu-item:hover i {
    color: #ffffff;
}
