<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <app-sidebarsection></app-sidebarsection>
        <div class="content">
            <div class="header">
                <div class="profile-menu">
                    <app-profilemenu></app-profilemenu>
                </div>
            </div>

            <div class="form-container">
              
              <div class="upload-container" (click)="triggerFileInput()">
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                <div class="profile-picture">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              
              <button (click)="uploadImage()">Upload Image</button>
            </div>

            <div class="form-container">
                <form (ngSubmit)="updateUserInfo()">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" [(ngModel)]="username" name="username" required />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" [(ngModel)]="email" name="email" required />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" [(ngModel)]="password" name="password" required />
                  </div>
                  <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input id="confirm_password" type="password" [(ngModel)]="confirmPassword" name="confirm_password" required />
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" [(ngModel)]="country" name="country" required>
                        <option value="" disabled selected>Chọn quốc gia</option>
                        <option value="Vietnam">Việt Nam</option>
                        <option value="Chile">Chi Lê</option>
                        <option value="USA">Mỹ</option>
                        <option value="South Korea">Hàn Quốc</option>
                        <option value="China">Trung Quốc</option>
                        <option value="Thailand">Thái Lan</option>
                        <option value="Japan">Nhật Bản</option>
                        <option value="Australia">Úc</option>
                        <option value="UK">Anh</option>
                    </select>
                </div>
                  <div class="form-group">
                    <label for="date_of_birth">Date of Birth</label>
                    <input id="date_of_birth" type="date" [(ngModel)]="dateOfBirth" name="date_of_birth" required />
                  </div>
                  <button type="submit">Cập nhật thông tin</button>
                </form>
              </div>
        </div>
    </div>

    <div class="footer"></div>
</body>
</html>