body {
    background-color: #121212;
    color: #ffffff;
    
    margin: 0;
    min-height: 100vh;
    padding-bottom: 100px;
}
.container {
    width: 700px;
    margin: 0 auto;
    margin-left: calc(300px + (100% - 1000px) / 2);
    padding: 2rem;
    margin-top: 50px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    margin-bottom: 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}
.password-requirements {
    margin-bottom: 20px;
}
.password-requirements p {
    margin: 5px 0;
}
.password-requirements p i {
    margin-right: 10px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.cancel-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #333;
}
.submit-button {
    background-color: #1db954;
    color: #ffffff;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
}
.input-container i {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(25%);
    cursor: pointer;
    color: #9ca3af;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: calc(300px + (100% - 1000px) / 2);
    padding: 1rem;
    margin-bottom: 2rem;
}