<body>
    <app-sidebarsection></app-sidebarsection>
    <div class="header">
        <div class="profile-menu">
            <app-profilemenu></app-profilemenu>
        </div>
    </div>
    <div class="container">
        <h1>Đổi mật khẩu của bạn</h1>
        <div class="input-container">
            <label for="current-password">Mật khẩu hiện nay</label>
            <input type="password" id="current-password">
            <i class="fas fa-eye-slash"></i>
        </div>
        <div class="input-container">
            <label for="new-password">Mật khẩu mới</label>
            <input type="password" id="new-password">
            <i class="fas fa-eye-slash"></i>
        </div>
        <div class="password-requirements">
            <p>Mật khẩu của bạn phải có ít nhất</p>
            <p><i class="far fa-circle"></i> 1 chữ cái</p>
            <p><i class="far fa-circle"></i> 1 chữ số hoặc ký tự đặc biệt (ví dụ: # ? ! &)</p>
            <p><i class="far fa-circle"></i> 10 ký tự</p>
        </div>
        <div class="input-container">
            <label for="confirm-password">Lặp lại mật khẩu mới</label>
            <input type="password" id="confirm-password">
            <i class="fas fa-eye-slash"></i>
        </div>
        <div class="buttons">
            <button class="cancel-button">Hủy</button>
            <button class="submit-button">Cài đặt mật khẩu mới</button>
        </div>
    </div>
</body>

