<body>
  <div class="header-content">
    <div class="overlay"></div>
    <div class="artist-info">
      <div class="verified">
        <i class="fas fa-check-circle"></i>
        Nghệ sĩ được xác minh
      </div>
      <h1>Sơn Tùng M-TP</h1>
      <p>1.616.849 người nghe hằng tháng</p>
      <div class="buttons">
        <button class="play-button">
          <i class="fas fa-play"></i>
        </button>
        <button class="more-button">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="content">
  <button
    class="create-song-button"
    routerLink="/afterlogin/artistpage/songs/new"
  >
    Tạo bài hát mới
  </button>
  <div class="popular">
    <h2>Danh sách bài hát</h2>
    <div *ngIf="isLoading" class="loading">Đang tải...</div>
    <div *ngIf="!isLoading && songs.length === 0" class="no-songs">
      Không có bài hát nào.
    </div>
    <table *ngIf="songs.length > 0"> 
      <tbody> 
        <tr *ngFor="let song of songs; let i = index" (click)="playSelectedSong(song.secure_url)"> 
          <td class="song-number" [attr.data-number]="i + 1"></td> 
          <td> 
            <img [src]="song.public_image_id" /> 
          </td> 
          <td class="song-title">{{ song.name }}</td> 
          <td>{{ song.duration }}</td> 
          <td>{{ song.status }}</td> 
        </tr> 
      </tbody> 
    </table>
  </div>
</div>

  <app-sidebarsection></app-sidebarsection>
</body>
