<html>
 <head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
    <div class="container">
        <app-sidebarsection></app-sidebarsection>
        <div class="content">
            <div class="header">
                
                <div class="profile-menu">
                    <app-profilemenu></app-profilemenu>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-picture">
                  <img *ngIf="imageUrl; else defaultImage" [src]="imageUrl" alt="Profile Picture" />
                  <ng-template #defaultImage>
                    <i class="fas fa-user default-icon"></i> <!-- Biểu tượng mặc định nếu không có hình ảnh -->
                  </ng-template>
                </div>
                <h1 class="profile-name">{{ username }}</h1>
              </div>
            <div class="top-artists">
                <div class="section-header">
                    <h2 class="section-title"></h2>
                    <button class="add-artist-button" (click)="navigateTo('profile/edit')">Chỉnh sửa</button>
                </div>
                
            </div>
            
            
        </div>
    </div>
    <!--<div class="footer"></div>-->
 </body>
</html>
