<html>
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="profile-info">
                <div class="profile-picture">
                    <img *ngIf="imageUrl; else defaultImage" [src]="imageUrl" alt="Profile Picture" />
                    <ng-template #defaultImage>
                        <i class="fas fa-user default-icon"></i> 
                    </ng-template>
                </div>
                <h1 class="profile-name">{{ username }}</h1>
            </div>
            <div class="section-header">
                <button class="add-artist-button" (click)="navigateTo('profile/edit')">Chỉnh sửa</button>
                <div class="infor">
                    <p><strong>Email: </strong>{{ email }}</p>
                    <p><strong>Type of account: </strong>{{ role }}</p>
                    <p><strong>Date of birth: </strong>{{ date_of_birth }}</p>
                    <p><strong>Account created at: </strong>{{ created_at }}</p>
                    <p><strong>Country: </strong>{{ country }}</p>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
