<body>
  <div class="header">
    <app-profilemenu></app-profilemenu>
   </div>
  <div class="container">
    <div class="title1">
     Playlists
    </div>
    <div class="playlists">
     <div class="playlist liked-songs">
      <div class="title">
       Liked Songs
      </div>
      <div class="description">
       Adekunle Gold Here For Ya • Julia Wolf Pillow • Claud If I Were You • The Wldlfe The Other side • Yoke Lore Goodpain • Ayra Starr Memories ...
      </div>
      <div class="count">
       607 liked songs
      </div>
     </div>
     <div class="playlist">
      <img alt="Happy Hits! playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/TKBRcf0sjehDMUSW9VfF6AEFWGn8Ge27VhmXZXCE4vY234XOB.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Happy Hits!
      </div>
      <div class="description">
       Hits to boost your mood and fill you wi...
      </div>
     </div>
     <div class="playlist">
      <img alt="Anime Lofi &amp; Chillhop Music playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/XUY35p9yhi6eV6R7MPpnck40L7k3hicjBHiB6XdCdykBHflTA.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Anime Lofi &amp; Chillhop Music
      </div>
      <div class="description">
       Experience the best Anime moments aga...
      </div>
     </div>
     <div class="playlist">
      <img alt="Afro 'Select' Vibes playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/HzrJ19Szpv73KVaG9zgtQzqdKeIwQKCOul0LsMPKLbOeNeLnA.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Afro “Select” Vibes
      </div>
      <div class="description">
       A compilation of hit African songs I cons...
      </div>
     </div>
     <div class="playlist">
      <img alt="Instrumental Study playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/qvNnoshVdx4WBl0RpLeVv1Nfzw2ld16cXq0oa8IBLpnfb8LnA.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Instrumental Study
      </div>
      <div class="description">
       A soft musical backdrop for your st...
      </div>
     </div>
     <div class="playlist">
      <img alt="Pop Mix playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/z4FVDyrLIrqpFJgoKBiHV4LCbKmkFlCTlKz2iLdyByOgjfyJA.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Pop Mix
      </div>
      <div class="description">
       Hey Violet, VÉRITÉ, Timeflies and more
      </div>
     </div>
     <div class="playlist">
      <img alt="Chill Mix playlist cover" height="200" src="https://storage.googleapis.com/a1aa/image/RCFLK65goeyTB6NR7IBIKV7ezxrgEzMFyZex4MrSv0mFc8LnA.jpg" width="200"/>
      <div class="play">              
        <button (click)="open()">
            <svg role="img" aria-hidden="true" viewBox="0 0 24 24" class="fa"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg> 
        </button>
        </div>
      <div class="title">
       Chill Mix
      </div>
      <div class="description">
       Julia Wolf, Khalid, ayokay and more
      </div>
     </div>
    </div>
   </div>
   <div class="my-div"></div>
   
  <app-sidebarsection></app-sidebarsection>
</body>
