header {
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 4rem;

    margin-bottom: 20px;
}

header p {
    font-size: 30px;
}

#app-logo {
    width: 60px;
    border-radius: 100%;
}

#nav-line {
    width: 100%;
    border-top: 0.5px solid #dfdcdc;
    
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.thumbnail {
    height: 600px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    margin: 20px auto;
    border-radius: 1rem;
    width: fit-content;
    background-color: #000000;

    color: white;
}


.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-label-container {
    cursor: pointer;
}

.avatar-image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
}

.avatar-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.avatar-default-icon {
    font-size: 50px;
    color: #757676;
}

.avatar-upload-input {
    display: none;
}


#validationMessage {
    background-color: #ff0000;
    color: #ffffff;
    width: 30rem;
    padding: 15px;
    margin: 15px 0;
    font-weight: 600;
    display: none;
}

.email-container {
    display: flex;
    flex-direction: column;
}

#email,
#password-elements {
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid #757676;
    border-radius: 8px;
    width: 30rem;
    padding: 14px 15px;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

#password-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-password {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
}

label {
    font-weight: bold;
}

a {
    color: #000000;
    font-weight: 600;
    margin: 12px 0;
}

#checkbox-login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.role-container select {
  margin-left: 10px;
  color: #000000;
  padding: 10px;
  border-radius: 1rem;
}

#login-btn {
    background-color: #ffffff;
    width: 7rem;
    padding: 13px 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#login-btn:hover {
    transform: scale(1.05);
}

.bottom-line {
    margin: 20px 0 30px;
    border: 1px solid #d9dadc;
    width: 470px;
}

#sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px;
}

#signup-btn {
    width: 30rem;
    padding: 12px 0;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    border: 1px solid #757676;
    background-color: white;
    text-transform: uppercase;
}

#dateOfBirth {
    margin-left: 10px;
    color: #000000;
    padding: 10px;
    border-radius: 1rem;

    margin: 10px;
}

@media (max-width: 768px) {
    header {
        padding: 0 3rem 0 1rem;
    }

    .thumbnail {
        display: none;
    }
}

@media (max-width: 550px) {
    #signup-btn,
    #email,
    #password-elements,
    #validationMessage,
    #main-container
    .bottom-line {
        width: 90vw;
    }
    #main-container {
        border-radius: 0;
    }
}

