.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;


    background: linear-gradient(to right, #ae2896, #509bf5);
    height: 90px;

    padding-left: 280px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer h6 {
    color: #ffffff;
    font-family: 'Lato', Arial;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.footer button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}
