main {
    background-color: white;
    
    margin-right: 10px;
    margin-top: 70px;
}

.main-container {
    height: 100%;
    
    margin-left: 350px;

    border-top-left-radius: 3%;
    border-top-right-radius: 3%;

    background-image: linear-gradient(rgb(202, 202, 202), rgb(217, 217, 217), rgb(247, 247, 247));
}

.spotify-playlists {
    padding: 20px 40px;
}   

.spotify-playlists h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;

    height: 280px;
}

.spotify-playlists .list .item {
    width: 180px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;

}

.spotify-playlists .list img {
    width: 150px;
    height: 150px;
    
    border: 1px solid white;
}

.spotify-playlists .list .item:hover {
    background-color: #b4b4b4;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -40px;

    padding: 7px;
    
    background-color: #858585;
    border-radius: 100%;
    
    opacity: 0;
    width: 40px;
    height: 40px;
    
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
    opacity: 0.6;
    transform: translateY(-20px);
}

.spotify-playlists .list .item .play .fa:hover {
    opacity: 1;
    border: 1px rgb(119, 119, 119);
}                                       

.spotify-playlists .list .item h4 {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #4c4c4c;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}