.side-bar {
    background-image: linear-gradient(rgb(202, 202, 202), rgb(217, 217, 217), rgb(247, 247, 247));
    
    border-top-right-radius: 30px;

    width: 320px;


    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;

    padding-top: 20px;
}

.side-bar a{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
    transition: 0.3s;
}

.side-bar a:hover {
    transform: scale(1.01);
}

.side-bar a span {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.side-bar a svg{
    width: 30px;
    height: 30px;
}

.side-bar .outer-container {
    background-color: rgb(245, 244, 244);

    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 10px;

    display: flex;
    gap: 10px;

    height: 130px;
}

.side-bar .outer-container .inner-container {
    display: flex;
    flex-direction: column;
}

.side-bar div .prompt { 
    font-size: 1rem;
    font-weight: 600;

    color: black;

    margin-top: 10px;
    margin-left: 10px;
}

.side-bar div .second-prompt {
    margin-left: 10px;
    margin-top: 5px;
}

.side-bar div button {
    color: white;

    border-radius: 10px;

    font-size: 30px;

    height: 100px;
    width: 70px;
    
    align-self: center;
    margin-right: 10px;
    background: black;

    transition: 0.3s;
}

.side-bar div button:hover {
    transform: scale(1.08);
}

.side-bar div button svg {
    width: 30px;
    margin: 0 auto;
}