<div
  class="fixed bottom-0 left-0 z-50 right-0 bg-gray-900 p-4 flex items-center justify-between"
  style="height: 100px"
>
  <div class="flex items-center">
    <img
      alt=""
      class="mr-4"
      height="50"
      src="https://i1.sndcdn.com/artworks-C1kL1ygHytMcyMJy-9L3tUQ-t500x500.jpg"
      width="50"
    />
    <div>
      <h3 class="text-sm font-bold">Love Sand</h3>
      <p class="text-xs">HIEUTHUHAI, Ali Hoàng Dương, Vũ Thịnh, Jsol</p>
    </div>
    <button class="ml-4">
      <div
        class="relative inline-block cursor-pointer text-2xl"
        [ngClass]="heartColor"
        (click)="toggleLike()"
        (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false"
      >
        <i class="fas fa-heart"></i>
        <span
          class="absolute -top-6 left-1/2 transform -translate-x-1/2 bg-black text-white text-sm px-2 py-1 rounded tooltip"
          *ngIf="showTooltip"
        >
          {{ hoverText }}
        </span>
      </div>
    </button>
  </div>
  <div class="flex items-center">
    <button class="mx-2">
      <i class="fas fa-random"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-step-backward"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-play"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-step-forward"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-redo"> </i>
    </button>
    <div class="flex items-center mx-4">
      <span class="text-xs"> 2:39 </span>
      <div class="w-32 h-1 bg-gray-700 mx-2">
        <div class="w-1/2 h-full bg-white"></div>
      </div>
      <span class="text-xs"> 4:32 </span>
    </div>
  </div>
  <div class="flex items-center">
    <button class="mx-2">
      <i class="fas fa-list"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-desktop"> </i>
    </button>
    <button class="mx-2">
      <i class="fas fa-volume-up"> </i>
    </button>
    <div class="w-24 h-1 bg-gray-700 mx-2">
      <div class="w-1/2 h-full bg-white"></div>
    </div>
  </div>
</div>
