<div class="fixed bottom-0 left-0 right-0 bg-gray-900 p-4 flex items-center justify-between">
    <div class="flex items-center">
     <img alt="Play It Safe album cover" class="mr-4" height="50" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-RTDtMoELPn131QkMajeAWhD0.png?st=2024-09-27T14%3A13%3A58Z&amp;se=2024-09-27T16%3A13%3A58Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-26T23%3A08%3A09Z&amp;ske=2024-09-27T23%3A08%3A09Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=VeuCEl5ukOn5Mz8w6xnJn8avUedWS8NM5qrDXwVvRas%3D" width="50"/>
     <div>
      <h3 class="text-sm font-bold">
       Play It Safe
      </h3>
      <p class="text-xs">
       Julia Wolf
      </p>
     </div>
     <button class="ml-4">
      <i class="fas fa-heart">
      </i>
     </button>
    </div>
    <div class="flex items-center">
     <button class="mx-2">
      <i class="fas fa-random">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-step-backward">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-play">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-step-forward">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-redo">
      </i>
     </button>
     <div class="flex items-center mx-4">
      <span class="text-xs">
       2:39
      </span>
      <div class="w-32 h-1 bg-gray-700 mx-2">
       <div class="w-1/2 h-full bg-white">
       </div>
      </div>
      <span class="text-xs">
       4:32
      </span>
     </div>
    </div>
    <div class="flex items-center">
     <button class="mx-2">
      <i class="fas fa-list">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-desktop">
      </i>
     </button>
     <button class="mx-2">
      <i class="fas fa-volume-up">
      </i>
     </button>
     <div class="w-24 h-1 bg-gray-700 mx-2">
      <div class="w-1/2 h-full bg-white">
      </div>
     </div>
    </div>
   </div>