body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 20px;
    overflow: hidden;
    margin-left: 50px;
}

.song-list, .album-list, .playlist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.song-item, .album-item, .playlist-item {
    flex: 0 0 calc(20% - 16px);
    box-sizing: border-box;
    max-width: 200px;
}

.song-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    position: relative;
}

.song-item:hover {
    background-color: #383838;
}

.song-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.song-name {
    color: white;
    font-size: 16px;
}

.song-number {
    position: relative;
    text-align: center;
    width: 30px;
    color: #b3b3b3;
}

.song-number i {
    margin-left: 5px;
    color: #1DB954;
    transition: transform 0.3s;
}

.song-item:hover .fa-play {
    display: block;
    position: absolute;
    right: 10px;
    color: #1DB954;
    font-size: 20px;
}

.album-list, .playlist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-item, .playlist-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    position: relative;
}

.album-item:hover .fa-play {
    display: block;
    position: absolute;
    right: 10px;
    color: #1DB954;
    font-size: 20px;
}

.playlist-item:hover .fa-play {
    display: block;
    position: absolute;
    right: 10px;
    color: #1DB954;
    font-size: 20px;
}

.album-item:hover, .playlist-item:hover {
    background-color: #383838;
}

.album-image, .playlist-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.album-name, .playlist-name {
    color: white;
    font-size: 16px;
}

.song-list > div:nth-child(5n), 
.album-list > div:nth-child(5n), 
.playlist-list > div:nth-child(5n) {
    margin-right: 0;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}


