<body>
    <div class="header">
    <!--
     <i class="fas fa-home">
     </i>-->
     <!--<input placeholder="Bạn muốn phát nội dung gì?" type="text"/>-->
     <!--
     <i class="fas fa-trash">
     </i>-->
     <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Bạn muốn phát nội dung gì?">
        <i class="fas fa-folder-open clear-icon"></i>
    </div>
     <app-profilemenu></app-profilemenu>
    </div>

    
    <div class="container">
     <h1>
      Duyệt tìm tất cả
     </h1>
     <div class="grid">
      <div class="card">
       Nhạc
       <img alt="Album cover of a woman with long hair" height="80" src="https://i.pinimg.com/474x/7d/a3/ed/7da3ed3054dbc5397c5489680ede3fb3.jpg" width="80"/>
      </div>
      <div class="card">
       Podcasts
       <img alt="Podcast cover with text 'SCIENCE VS'" height="80" src="https://i.pinimg.com/236x/1e/9a/06/1e9a06dd0da75e7a2e468d20ff227dd1.jpg" width="80"/>
      </div>
      <div class="card">
       Sự kiện trực tiếp
       <img alt="Live event with a person singing on stage" height="80" src="https://storage.googleapis.com/a1aa/image/aMS8wu2r6579FxbSIyO9fvasst3BMWEnla7vPb6KDThdn2xJA.jpg" width="80"/>
      </div>
      <div class="card">
       Dành Cho Bạn
       <img alt="Album cover of a woman with long hair" height="80" src="https://i.pinimg.com/236x/97/79/6f/97796ff73e5a4bec62eb95e48ac87243.jpg" width="80"/>
      </div>
      <div class="card">
       Mới phát hành
       <img alt="Album cover of a woman with blonde hair" height="80" src="https://i.pinimg.com/enabled_lo_mid/474x/80/10/3d/80103dcd20fb23f94c46b9433e5bfd26.jpg" width="80"/>
      </div>
      <div class="card">
       Nhạc Việt
       <img alt="Album cover of a man with a microphone" height="80" src="https://i.pinimg.com/236x/2f/8c/24/2f8c24b26467bbf848daefd44bae76de.jpg" width="80"/>
      </div>
      <div class="card">
       Pop
       <img alt="Album cover of a woman with blonde hair" height="80" src="https://storage.googleapis.com/a1aa/image/oTWfeC703ZqOckqLkbbyZaITVAiIgaPXw0RmqPPLdFi0OtjTA.jpg" width="80"/>
      </div>
      <div class="card">
       K-Pop
       <img alt="Album cover of a K-Pop group" height="80" src="https://storage.googleapis.com/a1aa/image/x7ys2fTMrOQaZ6pMgPzZvmL9EQTNsWfI5vGURCt3QEGCPtjTA.jpg" width="80"/>
      </div>
      <div class="card">
       Hip-Hop
       <img alt="Album cover of a man with a microphone" height="80" src="https://i.pinimg.com/236x/a4/5a/07/a45a07f9b2347f7f6b351c3c8cc7d25f.jpg" width="80"/>
      </div>

      <div class="card">
       Sư phạm
       <img alt="Podcast cover with text 'SCIENCE VS'" height="80" src="https://storage.googleapis.com/a1aa/image/ORqaNKRamz5sGJj2xkkZ8I0QI0NcH28PWC8l95RU0NFuT74E.jpg" width="80"/>
      </div>
      <div class="card">
       Tài liệu
       <img alt="Podcast cover with text 'SERIAL KILLERS'" height="80" src="https://storage.googleapis.com/a1aa/image/t2mcIBctvb6bDFkP8tXTPbFlOZ2HZPU72Nr1Pzy37ntvT74E.jpg" width="80"/>
      </div>
      <div class="card">
       Hài kịch
       <img alt="Podcast cover of a man laughing" height="80" src="https://storage.googleapis.com/a1aa/image/9alN4mpNREanPBe8iYDxSnvZAGgktChs0DzjY8GZ4eyfdaHnA.jpg" width="80"/>
      </div>
      <div class="card">
       Bảng xếp hạng
       <img alt="Podcast cover with text 'Top Songs Global'" height="80" src="https://storage.googleapis.com/a1aa/image/G19Ngf2eYcrbtkFeaHX3hZD0FB1Mmz5G8cAP8iGmXkd5daHnA.jpg" width="80"/>
      </div>
      <div class="card" routerLink="/login">
       Tâm Trạng
       <img alt="Album cover of a person with sunglasses" height="80" src="https://i.pinimg.com/236x/e1/50/94/e150946e352ace569b3068a7b1ccc01d.jpg" width="80"/>
      </div>
      <div class="card">
       Indie
       <img alt="Album cover of a woman with dark hair" src="https://i.pinimg.com/enabled_lo_mid/236x/ae/b0/fa/aeb0fae2a9721500db1dc6e7c1fd9445.jpg"/>
      </div>
     </div>
    </div>
    <app-sidebarsection></app-sidebarsection>
   </body>