<body>
  <div class="container">
    <div class="header">
      <div class="user-info">
        <img alt="User profile picture" height="40" src="" width="40" />
        <span> Khoa </span>
      </div>
    </div>
    <div class="playlist-info">
      <img
        alt="Happy Hits! playlist cover"
        height="200"
        src="https://www.shyamh.com/images/blog/music.jpg"
        width="200"
      />
      <div class="playlist-details">
        <h1>Happy Hits!</h1>
        <p>Hits to boost your mood and fill you with happiness!</p>
      </div>
    </div>
    <div class="controls">
      <div class="play-button">
        <i class="fas fa-play"> </i>
      </div>
      <i id="icon" class="far fa-heart"> </i>
      <i id="icon" class="fas fa-ellipsis-h"> </i>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="track-number">#</th>
            <th>TITLE</th>
            <th>ALBUM</th>
            <th>DATE ADDED</th>
            <th class="track-like">
              <i class="fas fa-clock"> </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="track-number">1</td>
            <td class="track-title">
              <img
                alt="Play It Safe album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/771jaed9WuxxVSe81FVeZmfHp45vH1v2DPFX55veANdtJmbcC.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Play It Safe</div>
                <div class="track-artist">Julia Wolf</div>
              </div>
            </td>
            <td class="track-album">Play It Safe</td>
            <td class="track-date">2:12</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">2</td>
            <td class="track-title">
              <img
                alt="Ocean Front Apt. album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/t49Nb9op6IqKGVStSzD6SsoqRsl6DPqdr7mwuwDGsUIVM34E.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Ocean Front Apt.</div>
                <div class="track-artist">pyokas</div>
              </div>
            </td>
            <td class="track-album">In the Shape of a Dream</td>
            <td class="track-date">2:12</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">3</td>
            <td class="track-title">
              <img
                alt="Free Spirit album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/mSbAwkGLBCJcA5zCZWLM9BYfNvXcFyZ8fGobBheSC6LWi5GnA.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Free Spirit</div>
                <div class="track-artist">Khalid</div>
              </div>
            </td>
            <td class="track-album">Free Spirit</td>
            <td class="track-date">2:32</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">4</td>
            <td class="track-title">
              <img
                alt="Vacation album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/9zaKQNGKQ4KzHZqOYTtNwvgftGXC7cV06oVZHIjaImRnYuxJA.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Remind You</div>
                <div class="track-artist">FRENSHIP</div>
              </div>
            </td>
            <td class="track-album">Vacation</td>
            <td class="track-date">2:56</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">5</td>
            <td class="track-title">
              <img
                alt="Same Old album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/QnmRKhSUsRraH9Huf5AeCSOf2UABv3jRo84ksXVUXhuui5GnA.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Same Old</div>
                <div class="track-artist">SHY Martin</div>
              </div>
            </td>
            <td class="track-album">Same Old</td>
            <td class="track-date">2:56</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">6</td>
            <td class="track-title">
              <img
                alt="A Moment Apart album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/7eyvem3ugOpQLkOff5VGf0nQiRioH7Hfee6UKqd3Dq5LRxcjTA.jpg"
                width="40"
              />
              <div>
                <div class="track-name">A Moment Apart</div>
                <div class="track-artist">ODESZA</div>
              </div>
            </td>
            <td class="track-album">A Moment Apart</td>
            <td class="track-date">3:53</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">7</td>
            <td class="track-title">
              <img
                alt="Run Away album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/e71xsZ1xeXi5cEuCCcf7SdTmfl0TrlM8ftTu8fNNKQmIUM34E.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Run Away</div>
                <div class="track-artist">Manila Killa, outsideOUTSIDE</div>
              </div>
            </td>
            <td class="track-album">1993</td>
            <td class="track-date">3:24</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">8</td>
            <td class="track-title">
              <img
                alt="Sleepless Nights album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/8wlejwF2TR29N6NpOODrh6nWmCGGdvjY1N73fEQKafB1i5GnA.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Sleepless Nights (feat. Nightly)</div>
                <div class="track-artist">ayokay, Nightly</div>
              </div>
            </td>
            <td class="track-album">In the Shape of a Dream</td>
            <td class="track-date">2:12</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
          <tr>
            <td class="track-number">9</td>
            <td class="track-title">
              <img
                alt="Wrong Kind Of People album cover"
                height="40"
                src="https://storage.googleapis.com/a1aa/image/7rcTAHwOxQ62L9OGJtMCbVPqvj6GDJU5xE5OHNOv0InVM34E.jpg"
                width="40"
              />
              <div>
                <div class="track-name">Wrong Kind Of People</div>
                <div class="track-artist">Baker Grace</div>
              </div>
            </td>
            <td class="track-album">Girl, I Know</td>
            <td class="track-date">3:15</td>
            <td class="track-like">
              <i class="fas fa-heart"> </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
