<body>
  <div class="header-content" [ngStyle]="{'background-image': 'url(' + playlistImage + ')'}">
    <div class="overlay"></div>
    <div class="artist-info">
        <div class="verified">
            <i class="fas fa-check-circle"></i> Playlist được xác minh
        </div>
        <h1>{{ artistName }}</h1>
        <p>1.616.849 người nghe playlist</p>
        <div class="buttons">
            <button class="play-button" (click)="playPlaylist()">
                <i class="fas fa-play"></i>
            </button>
            <button class="more-button" (click)="toggleModal()">
                <i class="fas fa-ellipsis-h"></i>
            </button>
        </div>
    </div>
  </div>
  <!-- Modal để thêm bài hát -->
  <div class="modal" *ngIf="showModal">
      <div class="modal-content">
          <span class="close" (click)="toggleModal()">&times;</span>
          <h2>Chọn bài hát để thêm vào playlist</h2>
          <div *ngFor="let song of allSongs">
              <label>
                  <input type="checkbox" [value]="song.id" (change)="toggleSongSelection(song.id)">
                  {{ song.name }} ({{ song.status }}) <!-- Hiển thị trạng thái bài hát -->
              </label>
          </div>
          <button (click)="addSongsToPlaylist()" class="add-songs-button">Thêm bài hát</button>
      </div>
  </div>
  <div class="content">
    <button class="create-song-button" [routerLink]="role === 'LISTENER' ? '/afterlogin/listenerpage/createlist' : '/afterlogin/artistpage/createlist'">
      Tạo playlist mới
    </button>
    <div class="popular">
      <h2>Danh sách bài hát trong playlist</h2>
      <table *ngIf="songs.length > 0"> 
        <tbody> 
          <tr *ngFor="let song of songs; let i = index" (click)="playSelectedSong(song)"> 
            <td class="song-number" [attr.data-number]="i + 1"></td> 
            <td> 
              <img [src]="song.public_image_id" /> 
            </td> 
            <td class="song-title">{{ song.name }}</td> 
            <td>{{ song.duration }}</td> 
            <td>{{ song.status }}</td> 
          </tr> 
        </tbody> 
      </table>
    </div>
  </div>
  <app-sidebarsection></app-sidebarsection>
  </body>
  