<!-- Header Section -->
<header>
  <img
    src="../../../assets/images/logo.jpg"
    id="app-logo"
  />
  <p><strong>Music Web</strong></p>
</header>
<div id="nav-line"></div>
<!-- Login Section -->

<div *ngIf="loadingList" class="spinner-container">
  <div class="spinner"></div>
</div>

<section *ngIf="!loadingList" class="container">
  <section id="main-container">
  
    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
      <div id="login-form">
        <div class="email-container">
          <label>Email address</label>
          <!-- Thêm name="email" -->
          <input
            type="text"
            placeholder="Email address..."
            id="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div id="password-container">
          <label>Password</label>
          <div id="password-elements">
            <!-- Thêm name="password" -->
            <input
              type="password"
              placeholder="Password..."
              id="login-password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
        </div>
  
        <div id="checkbox-login-container">
          <div class="role-container">
            <label for="role">Select Role</label>
            <select id="role" [(ngModel)]="selectedRole" name="role" required>
              <option value="1">Admin</option>
              <option value="2">Artist</option>
              <option value="3">Listener</option>
            </select>
          </div>
          <button id="login-btn" type="submit">LOG IN</button>
        </div>
      </div>
    </form>
  
    <hr class="bottom-line" />
    <!-- Sign Up -->
    <div id="sign-up-section">
      <h3>Don't have an account ?</h3>
      <button id="signup-btn" routerLink="/signup">Sign up for Spotify</button>
    </div>
  </section>
  
  <img class="thumbnail" src="../../../assets/images/login.jpg">
</section>
