<div *ngIf="username" class="profile-menu" (click)="toggleMenu()">
    <div class="profile-info">
        <img *ngIf="imageUrl"  [src]="imageUrl" alt="" class="profile-image" />
        <div *ngIf="!imageUrl" class="profile-image-container">
            <i class="fas fa-user"></i>
        </div>
        <span class="profile-name">{{ username }}</span>
        <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
    </div>
    
    <div *ngIf="isMenuOpen" class="menu">
        <ul>
            <li (click)="navigateTo('profile')">Profile</li>
            <li (click)="logout()">Log out</li>
        </ul>
    </div>
</div>