.content {
    margin-left: 250px;
    background-color: black;
    padding-top: 30px;
    padding-right: 50px;
    min-height: 100vh;
    overflow-y: auto; /* Cho phép cuộn dọc nếu nội dung quá lớn */
}

.header {
    justify-content: flex-end;
    margin-left: 250px;
    display: flex;

    padding: 10px 20px;
    background-color: #000;
}
