.user-management {
    margin: 20px auto;
    max-width: 1200px;
    background-color: #1c1c1c;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1c1c1c;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #333;
    padding: 12px 15px;
    text-align: left;
  }
  
  .active-button {
    width: 100px;
  }

  .user-table th {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .user-table td button {
    padding: 8px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-table td button:hover {
    opacity: 0.9;
  }
  
  .user-table td button:nth-child(1) {
    background-color: #4caf50;
    color: black;
  }
  
  .user-table td button:nth-child(2) {
    background-color: #ff3860;
    color: white;
  }
  
  .user-table td button:nth-child(3) {
    background-color: #3273dc;
    color: white;
  }
  
  .user-detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .detail-container {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 8px;
    width: 450px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .detail-container h2 {
    margin-top: 0;
    color: #4caf50;
  }
  
  .detail-container p {
    margin: 10px 0;
  }
  
  .detail-container ul {
    list-style: none;
    padding: 0;
  }
  
  .detail-container ul li {
    background-color: #282828;
    margin-bottom: 8px;
    padding: 8px 10px;
    border-radius: 4px;
  }
  
  .detail-container button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: #4caf50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  