body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    height: 100%;
    min-height: 900px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 0 100px 270px;
}

.playlist-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.playlist-header img {
    width: 200px;
    height: 200px;
    background-color: #333;
    display: block;
}

.playlist-info {
    margin-left: 20px;
}

.playlist-info h1 {
    font-size: 48px;
    margin: 0;
}

.playlist-info p {
    font-size: 16px;
    margin: 5px 0;
}

.playlist-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.playlist-actions .dots {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    flex: 1;
    margin-left: 10px;
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar .fa-search {
    color: #999;
}

.search-bar .fa-times {
    color: #999;
    cursor: pointer;
}
