/* Begin search bar section*/
.search-bar {
    margin-left: 300px;
    background-color: #1c1c1c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.search-bar input {
    background: none;
    border: none;
    color: #ccc;
    font-size: 16px;
    flex-grow: 1;
    margin-left: 10px;
    outline: none;
}
.search-bar i {
    color: #ccc;
    font-size: 20px;
}
.search-bar .search-icon {
    margin-right: 10px;
}
.search-bar .clear-icon {
    margin-left: 10px;
}

.header {
    justify-content: space-between;
    margin-left: 250px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
}
.header i {
    font-size: 24px;
    margin-right: 10px;
}
.header input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    margin-right: 10px;
}
.header .fa-trash {
    font-size: 24px;
}

/* End search bar section*/


/* Begin main content section*/
main {
    background-color: black;
}

.main-container {
    padding-top: 20px;
    height: 100%;
    padding: 20px;
    margin-bottom: 90px;
    background-color: #121212;
}

.spotify-playlists {
    margin-left: 300px;
}   

.spotify-playlists h2 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;

    height: 280px;
}

.spotify-playlists .list .item {
    width: 180px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;

}

.spotify-playlists .list img {
    width: 150px;
    height: 150px;
    
    border: 1px solid white;
}

.spotify-playlists .list .item:hover {
    background-color: #b4b4b4;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -40px;

    padding: 7px;
    
    background-color: #ffffff;
    border-radius: 100%;
    
    opacity: 0;
    width: 40px;
    height: 40px;
    
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
    opacity: 0.6;
    transform: translateY(-20px);
}

.spotify-playlists .list .item .play .fa:hover {
    opacity: 1;
    border: 1px rgb(119, 119, 119);
}                                       

.spotify-playlists .list .item h4 {
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #4c4c4c;
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}
/* end main content section*/