<body>
  <div class="form-container">
    <h2>Tạo bài hát mới</h2>
    <form id="newSongForm">
      <div class="form-group">
        <label for="songTitle">Tên bài hát</label>
        <input type="text" id="songTitle" name="songTitle" required />
      </div>
      <div class="form-group">
        <label for="songDuration">Thời lượng</label>
        <input type="text" id="songDuration" name="songDuration" required />
      </div>
      <div class="form-group">
        <label for="songCover">Ảnh bìa</label>
        <input
          type="file"
          id="songCover"
          name="songCover"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group">
        <label for="songFile">Tệp bài hát (mp3)</label>
        <input
          type="file"
          id="songFile"
          name="songFile"
          accept="audio/mp3"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit">Tạo bài hát</button>
      </div>
    </form>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
