<body>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div class="form-container">
    <h2>Create New Song</h2>

    <form *ngIf="!isLoading" (ngSubmit)="onSubmit()" #newSongForm="ngForm">
      <div class="form-group">
        <label for="songTitle">Song Title</label>
        <input
          type="text"
          id="songTitle"
          name="songTitle"
          required
          [(ngModel)]="songTitle"
        />
      </div>
      <div class="form-group">
        <label for="songDescription">Description</label>
        <input
          type="text"
          id="songDescription"
          name="songDescription"
          required
          [(ngModel)]="songDescription"
        />
      </div>
      <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input
          type="date"
          id="releaseDate"
          name="releaseDate"
          required
          [(ngModel)]="releaseDate"
        />
      </div>
      <div class="form-group">
        <label for="songFile">Song File</label>
        <input
          type="file"
          id="songFile"
          name="songFile"
          accept="audio/*"
          required
          (change)="onFileChange($event, 'song')"
        />
      </div>
      <div class="form-group">
        <label for="songImage">Song Image</label>
        <input
          type="file"
          id="songImage"
          name="songImage"
          accept="image/*"
          (change)="onFileChange($event, 'image')"
        />
      </div>
      <div class="form-group">
        <button type="submit">Create Song</button>
      </div>
    </form>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
