<body>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="form-container">
    <h2>Tạo bài hát mới</h2>

    <form (ngSubmit)="onSubmit()" #newSongForm="ngForm">
      <div class="form-group">
        <label for="songTitle">Tên bài hát</label>
        <input
          type="text"
          id="songTitle"
          name="songTitle"
          required
          [(ngModel)]="songTitle"
        />
      </div>
      <div class="form-group">
        <label for="songDescription">Mô tả</label>
        <input
          type="text"
          id="songDescription"
          name="songDescription"
          required
          [(ngModel)]="songDescription"
        />
      </div>
      <div class="form-group">
        <label for="releaseDate">Ngày phát hành</label>
        <input
          type="date"
          id="releaseDate"
          name="releaseDate"
          required
          [(ngModel)]="releaseDate"
        />
      </div>
      <div class="form-group">
        <label for="songFile">Tệp bài hát</label>
        <input
          type="file"
          id="songFile"
          name="songFile"
          accept="audio/*"
          required
          (change)="onFileChange($event, 'song')"
        />
      </div>
      <div class="form-group">
        <label for="songImage">Hình ảnh bài hát</label>
        <input
          type="file"
          id="songImage"
          name="songImage"
          accept="image/*"
          (change)="onFileChange($event, 'image')"
        />
      </div>
      <div class="form-group">
        <button type="submit">Tạo bài hát</button>
      </div>
    </form>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
