<body>
  <div class="form-container">
    <h2>Tạo Album Mới</h2>
    <form
      action="/artist/albums/new"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="name"> Tên Album </label>
        <input id="name" name="name" required="" type="text" />
      </div>
      <div class="form-group">
        <label for="description"> Mô tả </label>
        <textarea id="description" name="description" required="" rows="4">
        </textarea>
      </div>
      <div class="form-group">
        <label for="cover"> Ảnh Bìa </label>
        <input
          accept="image/*"
          id="cover"
          name="cover"
          required=""
          type="file"
        />
      </div>
      <div class="form-group">
        <label for="songs"> Danh Sách Bài Hát </label>
        <select id="songs" multiple="" name="songs[]" required="">
          <option value="1">TRẦN BỘ NHỚ (feat. Dương Domic)</option>
          <option value="2">bình yên</option>
          <option value="3">Vì Anh Đâu Có Biết</option>
          <option value="4">Sau Cơn Mưa</option>
          <option value="5">Miên Man</option>
          <option value="6">Nghe Như Tình Yêu</option>
          <option value="7">Em Không Sai Chúng Ta Sai</option>
          <option value="8">Hoa Nở Không Màu</option>
          <option value="9">Bông Hoa Đẹp Nhất</option>
          <option value="10">Cứ Chill Thôi</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit">Tạo Album</button>
      </div>
    </form>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
