/* hiệu ứng loading */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 234, 234, 0.1);
    z-index: 2000;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #1DB954;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



body {
    margin: 0 0 100px 256px;
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #181818;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 600px;
    max-width: 90%;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #b3b3b3;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #282828;
    color: white;
    font-size: 16px;
}

.form-group input[type="file"] {
    padding: 10px;
}

.form-group button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-group button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(29, 185, 84, 0.6);
}

.success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 1000;
    animation: fadeOut 1s 2s forwards;
}

.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 1000;
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}