<body>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="form-container">
    <h2>Tạo album mới</h2>

    <form (ngSubmit)="onSubmit()" #newAlbumForm="ngForm">
      <div class="form-group">
        <label for="albumTitle">Tên album</label>
        <input
          type="text"
          id="albumTitle"
          name="albumTitle"
          required
          [(ngModel)]="albumTitle"
        />
      </div>
      <div class="form-group">
        <label for="albumDescription">Mô tả album</label>
        <input
          type="text"
          id="albumDescription"
          name="albumDescription"
          required
          [(ngModel)]="albumDescription"
        />
      </div>
      <div class="form-group">
        <label for="albumReleaseDate">Ngày phát hành</label>
        <input
          type="date"
          id="albumReleaseDate"
          name="albumReleaseDate"
          required
          [(ngModel)]="albumReleaseDate"
        />
      </div>
      <div class="form-group">
        <label for="albumImage">Ảnh bìa album</label>
        <input
          type="file"
          id="albumImage"
          name="albumImage"
          accept="image/*"
          required
          (change)="onFileChange($event)"
        />
      </div>
      <div class="form-group">
        <label for="genreIds">Thể loại nhạc (ID cách nhau bằng dấu phẩy)</label>
        <input
          type="text"
          id="genreIds"
          name="genreIds"
          placeholder="Nhập ID thể loại, ví dụ: 4,5"
          [(ngModel)]="genreIds"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit">Tạo album</button>
      </div>
    </form>
  </div>
  <app-sidebarsection></app-sidebarsection>
</body>
